@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<section id="logon">
    @Html.Partial("_LoginPartial")
</section>
<hr/>
<section id="play">
    <div align="center">@Html.ActionLink("Play as Guest", "Index", "Game")</div>
</section>