@model TopTrumps.Models.ViewModels.Game.GameIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Game</h2>
@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.PlayerName)
    
    @Html.EditorFor(model => model.PackId)

    @Html.EditorFor(model => model.Difficulty)

    <input type="submit" value="Play" />
}
